In [1]:
my_name = 'Muayad'
print(my_name)

Muayad

In [10]:
age = 30
print(age)

30

In [3]:
julia_age = 32 
age_diff = age - julia_age
print(age_diff)

-2

In [5]:
if age > 21 : 
    print ( "You are older than 21")
else :
        print ("You are not older than 21")

You are older than 21

In [11]:
if julia_age > age : 
    print("Julia is older than you")
elif julia_age < age:
    print ("Julia is younger than you")
else: 
    print ("You have the same age as Julia")

Julia is older than you

In [14]:
class_names = ['Valentina', 'Muayad', 'Marzieh', 'Marjila', 'Satomi', 'arjun', 'Kai', 'Ottavia']
class_names.sort()
print(class_names[0])
print(class_names[-1])

for name in class_names : 
    print (name)

Kai
arjun
Kai
Marjila
Marzieh
Muayad
Ottavia
Satomi
Valentina
arjun

In [19]:
numbers = [2,3,4,5,6,7,34,2,4,45,34,73,4]
print (max(numbers))
print(min(numbers))

73
2

In [20]:
year_of_birth = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]

for year in year_of_birth : 
    print ( 2022 - year )

23
27
17
12
15
16
28
26
43
14

In [55]:
#Exercise 11
#Given below is a list of 10 customers with name and year of birth, however, the list can be as large as several thousands of customers.
#Use a loop to iterate over the list and print the name and age of each customer.
#Afterwards, for each customer try to print the sentence "customer_name is customer_age years old".
#customer_name and customer_age should correspond to each customer's name and age.


customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

for x in customer_list : 
    print (x["name"], "is" , 2022 - x["age"], "years old ")

Bob is 23 years old
Jack is 27 years old
Lisa is 17 years old
Maria is 12 years old
Ben is 15 years old
Emma is 16 years old
Oscar is 28 years old
Amy is 26 years old
Paul is 43 years old
Etta is 14 years old

In [81]:
#Exercise 12
#Given a list of ages, remove the youngest and the oldest person.

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

#ages.remove(min(ages))
#ages.remove(max(ages))


ages.sort()
ages.pop()
ages.pop(0)


print(ages)

[11, 12, 13, 14, 20, 23, 24, 25]

In [94]:
#Exercise 13
#The task is to create an other list with the common ages.

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

common_ages_list = []

for x in berlin : 
    for y in munich: 
        if x == y : 
            common_ages_list.append(x)

common_ages_list

[15, 13, 16, 18, 19, 10]

In [90]:
#Exercise 14
#You have a list with ages. Remove the duplicates.

ages_common = [15,13,16,18,19,15,10]
ages_no_common = set(ages_common)
ages_no_common

{10, 13, 15, 16, 18, 19}

In [95]:
'''  Exercise 15
Write a function that works like below:

Function name: welcome

welcome('Evelyn') would print- 'Welcome Evelyn, have a nice day!'

welcome('Jost'), it would print - 'Welcome Jost, have a nice day!

'''

def welcome (name): 
    print (f" welcome {name}, have a nice day! ")

welcome ('Evelyn')
welcome ('Jost')

 welcome Evelyn, have a nice day!
 welcome Jost, have a nice day!

In [115]:
''' Exercise 16
Write a function that takes a string as input and calculates the length.

Function name: get_length

get_length('Hello') would print / return 5.

get_length('Hi') would print / return 2.

'''


def get_length (word):
    counter = 0
    for x in word : 
        counter += 1 
    print (counter)

get_length('Muayad')
get_length('Hello')
get_length('Hi')

6
5
2

In [122]:
''' Exercise 17
Write a function which checks whether a number is even.

Hint: Think about the modulus operator

Function name: check_even

check_even(6) would print / return 'Yes'

check_even(5) would print / return 'No'

'''

def check_even(num) : 
    if num % 2 == 0 :
         print ('Yes')
    else : 
         print ('No')

check_even(6)
check_even(5)

Yes
No

In [124]:
#Exercise 18
#Rewrite exercises 11, 12, 13, 14, 15 in a function.


def name_age (customer_list):
    for x in customer_list : 
        print (x["name"], "is" , 2022 - x["age"], "years old ")

name_age ( [ {"name": "Bob", "age": 1999}, {"name": "Jack", "age": 1995} ] )

Bob is 23 years old
Jack is 27 years old

In [127]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

#ages.remove(min(ages))
#ages.remove(max(ages))

def remove_max_min (ages):
    ages.sort()
    ages.pop()
    ages.pop(0)
    print(ages)


remove_max_min (ages)

[11, 12, 13, 14, 20, 23, 24, 25]

In [143]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

def common_ages_fun (list_1,list_2):
    common_ages_list = []

    for x in list_1: 
        for y in list_2:
             if x == y :
                common_ages_list.append(x)
    
    return common_ages_list

    
common_ages_fun(berlin, munich)

[15, 13, 16, 18, 19, 10]

In [144]:
def remove_common_num (common_num_list):
    ages_no_common = set(common_num_list)
    return ages_no_common


remove_common_num(ages_common)

{10, 13, 15, 16, 18, 19}

In [153]:
#Exercise 19
#Write a function that takes an input list and value of age to find as input and return true or false if the age value is present or not in the list.

def age_in_list (list_ages, age):
    for x in list_ages :
        if x == age:
            return True 
        else: 
            pass
    return False

list_ages = [22,18,17,27,31,56,12,42]
age_in_list(list_ages, 42)

True